@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

.theme-dark {
    --primary: #EB6440;
    --bg-nav: #0c1a32;
    --nav-link: #ffffff;
    --bg-body: #15243e;
    --dark: #ffffff;
    --white:#ffffff;
    --body: #f2f3f9;
    --bg-card:#0c1a32;

    --primary-hover:#6658dd;
}
.theme-light{
    --primary: #6658dd;
    --bg-nav: #ffffff;
    --nav-link: #15243e;
    --bg-body: #f2f3f9;
    --dark: #15243e;
    --white:#15243e;
    --body: #15243e;
    --bg-card:#ffffff;

    --primary-hover:#EB6440;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--body);
    background: var(--bg-body);
}
h1, h2, h3, h4, h5, h6, p{
    padding: 0;
    margin: 0;
}
.title{
    font-size: 24px;
    color: var(--white);
    line-height: 1.3;
    font-weight: 500;
    padding-bottom: 16px;
    font-family: 'Inter', sans-serif;
}
.description{
    font-size: 16px;
    color: var(--white);
    line-height: 1.3;
    font-weight: 400;
    padding-bottom: 16px;
}
.box-shadow {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.transition {
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
}
.cursor-pointer{
    cursor: pointer;
}
/* BG Color variant */
.bg-primary {
    background: var(--primary) !important;
}

.bg-secondary {
    background: var(--secondary) !important;
}

/* .bg-danger {
    background: var(--danger) !important;
} */
.bg-dark {
    background: var(--dark) !important;
}

/* Text Color variant */
.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-danger {
    color: var(--danger) !important;
}
.text-dark {
    color: var(--dark) !important;
}

/* Font Family */
.ff-inter {
    font-family: 'Inter', sans-serif;
}

.ff-roboto {
    font-family: 'Roboto', sans-serif;
}
.ff-poppins {
    font-family: 'Poppins', sans-serif;
}

/* Button style here.. */
.btn-primary{
    background: var(--primary);
    border-color: var(--primary);
}
.btn-primary:hover{
    background: var(--primary-hover);
    border-color: var(--primary-hover);
}
/* Main Content style here... */
.main-content {
    width: calc(100% - 318px);
    margin-left: 294px;
    margin-top: 86px;
}
.section-box{
    margin-bottom: 24px;
}
.card{
    background: var(--bg-card);
}