@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary: #6658dd;
    --danger: #EB6440;
    --secondary: #BFD1DF;
    --success: #005874;
    --dark: #3a3f51;
    --white: #FFFFFF;
    --body: #959EAE;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--body);
}

.box-shadow {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.transition {
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
}
.cursor-pointer{
    cursor: pointer;
}
/* BG Color variant */
.bg-primary {
    background: var(--primary) !important;
}

.bg-secondary {
    background: var(--secondary) !important;
}

.bg-danger {
    background: var(--danger) !important;
}
.bg-dark {
    background: var(--dark) !important;
}

/* Text Color variant */
.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-danger {
    color: var(--danger) !important;
}
.text-dark {
    color: var(--dark) !important;
}

/* Font Family */
.ff-inter {
    font-family: 'Inter', sans-serif;
}

.ff-roboto {
    font-family: 'Roboto', sans-serif;
}

/* Theme Header style here... */
.theme-header {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
    right: 0;
    top: 0;
    background:var(--white);
    width: calc(100% - 70px);
    transition: all 0.5s 0s ease;

}
.theme-header-expand{
    width: calc(100% - 270px);
}
.navbar-brand {
    display: flex;
    align-items: center;
    padding-left: 24px;
    transition: all 0.5s 0s ease;
    margin-bottom: 32px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 5%), 0 1px 0 rgb(0 0 0 / 5%);
    padding-bottom: 18px;
}


.expand {
    max-width: 270px !important;
    padding-left: 24px;
}


.header-toggle {
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    padding: 0;
    right: 0;
    top: 60px;
    border-radius: 0;
    border: none;
    box-shadow: 0 2px 7px rgb(0 0 0 / 5%), 0 2px 0px rgb(0 0 0 / 5%)
}

.dropdown-menu::before {
    content: '';
}

.user-wrap {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    width: 100%;
}

/* Theme aside bar style here... */
.theme-aside-bar {
    max-width: 75px;
    width: 100%;
    min-height: 100vh;
    padding: 20px 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    transition: all 0.5s 0s ease;
}

.nav-link {
    color: var(--white);
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 24px;
    margin-bottom: 4px;
    line-height: 1;
    transition: opacity 0.4s linear;  

    
}
.nav-link:hover,
.nav-link.active{
    background: var(--primary);
    color: var(--white) !important;
}
.hide-nav-txt{
    transition: opacity 0.5s linear;  
    opacity: 0; 
}
.show-nav-txt{
    transition: opacity 0.4s linear;  
    opacity: 1;
}

/* Main Content style here... */
.main-content {
    width: calc(100% - 318px);
    margin-left: 294px;
    margin-top: 86px;
}